body {
  background-color: #363839 !important;
  color: #d1cec9 !important;
  font-family: sans-serif;
  font-size: 150%;
  line-height: 1.1;
  max-width: 52rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

p {
  line-height: 1.35;
}

/* https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/ */
* + * {
  margin-top: 1.2rem;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 21px;
}

a {
  color: #d1cec9;
  text-decoration: underline;
}
a:visited {
  color: #d1cec9;
}

blockquote,
aside {
  border-left: 5px solid gray;
  margin-left: 0;
  padding-left: 1rem;
}

code,
pre,
.line {
  font-family: monospace;
  font-size: 95%;
  padding: 0.2rem 0.2rem;
  background-color: black !important;
  color: #d1cec9 !important;
  line-height: 1.2;
  margin-top: 0;
  white-space: no-wrap;
  word-wrap: normal;
}

pre,
code {
  overflow-x: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}
